<<<<<<< HEAD
<h1>You attacked Player 2</h1>
=======
<h1>You attacked <%= @player_2_name %> </h1>
>>>>>>> 9b7851b7f967c028178adb053ff5f57f1b3bb3d8
<form action='/play'>
<input type="submit" value="continue">
</form>
