
<h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>

<%= @player_2_name %>: HP<%= @player_2_hp %>


<<<<<<< HEAD
<form action='/attack' method="post">
=======
<form action='/attack' method='post'>
>>>>>>> 9b7851b7f967c028178adb053ff5f57f1b3bb3d8
<input type="submit" value="attack">
</form>
